

@import "{{ site.theme }}";

$red:rgba(236, 31, 31, 0.915);
$white: rgb(254, 254, 254);

/* "row style" is flexible size and aligns pictures in center */
.row {
  align-items: center;
  display: flex;
}
  
/* "column style" is one-third of the width with padding */
.column {
  flex: 33.33%;
  padding: 5px;
}

body {
  text-align: center;
  color: $white;
}

h1 {
  text-align: center;
  color: $red;
}